.App {
  text-align: center;
}

.buttons {
  margin: auto;
  width: 90%;
  display: flexbox;
  flex-direction: row;
}

input {
  width: 40%;
  margin-bottom: 10px;
}

button {
  text-align: center;
  width: 40%;
  height: 40px;
  margin: 4px;
  border: 0.16em solid black;
}

button:hover {
  cursor: pointer;
}